#infoView {
  flex-grow: 1;
  background-color: #bbed73;
  height: 100%;
  padding: 10px;
}

.companyName {
  font-size: 70px;
  text-align: center;
  text-decoration: none;
  color: black;
  display: block
}

.companyName:hover {
  text-decoration: underline;
  color: burlywood;
}

.logo {
  float: left;
  padding: 0px;
}
